html {
  position: relative;
  min-height: 100%;
}

html,
body {
  overflow-x: hidden;
}

main {
  padding: 20px 0px;
  background: linear-gradient(rgb(206, 204, 204), rgb(143, 143, 143));
}

header {
  width: auto;
  background: rgb(99, 97, 97);
  padding: 20px 0;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

.imagem-header {
  width: 35%;
  border: 2px solid black;
}

.imagem-header-contatos {
  width: 35%;
}

nav {
  position: flex;
  top: 110px;
  right: 0;
}

nav li {
  display: inline-block;
}

nav a {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}

.titulo-principal {
  padding-top: 20px;
  text-align: center;
  font-size: 35px;
  margin: 0.5em 0 1em;
  clear: left;
}

section > p {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: justify;
  text-justify: inter-word;
}

p > a:hover {
  color: #c78c19;
  text-decoration: underline;
}

.principaL {
  padding: 3em 0;
  width: auto;
  margin: 0 auto;
}

.principal p {
  margin: 0 0em 1em;
  padding-left: 20px;
  border-left: 10px solid black;
  margin: 0px 110px;
}

.conteudo-paes {
  text-align: left;
  margin-right: 110px;
}

.lista-paes {
  display: inline-block;
  margin: auto;
  padding-left: 165px;
  /* padding: 20px 200px; */
  text-align: left;
  list-style-type: disc;
}

.lista-paes-itens {
  text-align: justify;
  text-justify: inter-word;
  padding-bottom: 5px;
}

.imagem-certificado {
  width: 35%;
  border: 2px solid black;
}

.mapa-conteudo {
  padding: 0px 50px;
  width: auto;
  margin: 0 auto;
  display: block;
}

.conteudo-habilidades {
  text-align: justify;
  text-justify: inter-word;
  height: auto;
  text-align: center;
}

.lista-habilidades {
  width: auto;
  display: inline-block;
  vertical-align: top;
  /* padding-right: 70px; */
  padding-bottom: 20px;
  text-align: left;
}

.lista-contato-conteudo {
  padding-top: 20px;
}

.lista-contatos {
  width: 100%;
  display: block;
  padding-bottom: 20px;
  text-align: center;
}

.primeiro-icone,
.icones {
  width: auto;
  height: 30px;
}

.icones {
  padding-left: 100px;
}

.listas-icones,
.listas-icones-sites {
  padding-left: 10px;
  vertical-align: center;
}

.cabecalho {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

ul a.listas-icones-sites:hover {
  color: white;
  text-decoration: underline;
}

.itens-linguagens,
.itens-idiomas,
.itens-ide,
.itens-geral {
  padding: 3px 0px 4px 50px;
  line-height: 1.5;
}

.itens-linguagens:first-child,
.itens-idiomas:first-child,
.itens-ide:first-child,
.itens-geral:first-child {
  padding: 0px;
  font-weight: bold;
}

.itens-linguagens:first-child:before {
  content: "📓";
}

.itens-linguagens:before {
  padding-right: 5px;
  content: "🖥️";
}

.itens-idiomas:first-child:before {
  content: "🌐";
}

.itens-idiomas:before {
  padding-right: 5px;
  content: "🗣️";
}

.itens-ide:first-child:before {
  content: "📝";
}

.itens-ide:before {
  padding-right: 5px;
  content: "💡";
}

.itens-geral:first-child:before {
  padding-right: 5px;
  content: "🔗";
}

footer {
  text-align: center;
  background: linear-gradient(rgb(143, 143, 143), rgb(58, 58, 58));
  padding: 50px 0px;
  display: block;
}

.copyright {
  color: #ffffff;
  font-size: 13px;
  margin-top: 20px;
  padding-right: 33px;
  margin: 0px 5px;
  text-align: center;
}

@media screen and (max-width: 637px) {
  .caixa,
  .principal,
  .mapa-conteudo,
  .video {
    width: auto;
  }

  .titulo-principal {
    font-size: 30px;
    margin: 5px;
  }

  .principal p {
    border-left: 0;
    margin: 20px;
    padding-left: 0px;
    text-align: justify;
    text-justify: inter-word;
  }

  .conteudo-paes {
    text-align: left;
    margin-right: 30px;
    padding-bottom: 10px;
  }

  .lista-paes {
    padding-left: 40px;
  }

  .imagem-certificado {
    width: 50%;
    border: 2px solid black;
  }

  h1 {
    text-align: center;
  }

  nav {
    position: static;
  }

  .lista-contatos {
    padding-top: 22px;
    text-align: center;
    padding-left: 40px;
  }

  .conteudo-habilidades {
    padding-top: 20px;
    display: block;
    text-align: center;
    padding-left: 100px;
  }

  .lista-contato-conteudo {
    text-align: center;
    padding-right: 30px;
    padding-top: 20px;
  }

  .icones {
    padding-left: 20px;
  }

  .lista-habilidades {
    display: block;
    padding-right: 0px;
  }

  .mapa-conteudo {
    padding-top: 22px;
  }

  .copyright {
    padding-right: 0px;
  }
}

@media screen and (max-width: 480px) {
  .lista-contatos {
    padding-right: 48px;
    text-align: center;
  }
  .lista-contato-conteudo {
    text-align: left;
  }
}
